@use './colors' as *;
@use './mixins/text' as *;
@use './mixins/_btn.scss' as *;

@media (min-width: 90em) {
	.main {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 3.6rem;

		/////////////////////////NAV
		/// ////////////////////////////
		/// //////////////////////

		.nav {
			flex-direction: column;
			justify-content: space-between;
			margin: 3.2rem 0 0 3.2rem;
			height: calc(100vh - 6.4rem);
			max-height: 96rem;
			width: 9.6rem;
			padding: 3.4rem 2.4rem;
			&__logo {
				&-box {
					margin-bottom: 7.5rem;
				}
			}
			&__list {
				flex-direction: column;
				gap: 4rem;
				margin-bottom: auto;
			}
			&__avatar {
				height: 4rem;

				&-img {
					width: 4rem;
				}
			}
		}

		//////////////////// APP
		/////////////////////

		.app {
			margin: 0;
			gap: 0;
			grid-template-rows: auto auto 1fr;

			////////////////// APP INPUT

			&__search {
				gap: 2.4rem;
				margin-top: 6.4rem;
				height: fit-content;
			}

			//////////////////////////// SECTION TRENDING
			/// //////////////////////////////////
			.trending {
				margin-top: 3.4rem;
				&__card {
					cursor: grab;
					&:hover,
					&:focus {
						@include card-play-btn-hover;
						.card-shadow {
							background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100%) 140%), rgba(0, 0, 0, 50%);
						}
					}
				}
				&__card:focus {
					outline: none;
				}
				&__card:last-child {
					margin-right: 3.6rem;
				}
			}
		}

		//////////////////////////// SECTION RECOMMENDED
		/// //////////////////////////////////

		.recommended {
			margin-top: 4rem;
			gap: 3.2rem;
			&__box {
				gap: 3.2rem 4rem;
			}
			&__card {
				width: 28rem;
				cursor: grab;
				&:hover,
				&:focus {
					@include card-play-btn-hover;
					.card-shadow {
						background: none;
						background-color: rgba(0, 0, 0, 20%);
						z-index: 0;
						opacity: 1;
					}
				}
				&-img {
					height: 17.4rem;
				}
				&-bookmark {
					&:hover {
						background-color: $white;
						.recommended__card-bookmark-icon {
							filter: invert(0) sepia(0) saturate(0) hue-rotate(0) brightness(0) contrast(100%);
						}
					}
				}
			}
			&__card:focus {
				outline: none;
			}
		}
	}
}
