@use './colors' as *;
@use './mixins/text' as *;
@use './mixins/_btn.scss' as *;

@media (min-width: 90em) {
	.main {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 3.6rem;

		/////////////////////////NAV
		/// ////////////////////////////
		/// //////////////////////

		.nav {
			flex-direction: column;
			justify-content: space-between;
			margin: 3.2rem 0 0 3.2rem;
			height: calc(100vh - 6.4rem);
			max-height: 96rem;
			width: 9.6rem;
			padding: 3.4rem 2.4rem;
			&__logo {
				&-box {
					margin-bottom: 7.5rem;
				}
			}
			&__list {
				flex-direction: column;
				gap: 4rem;
				margin-bottom: auto;
			}
			&__avatar {
				height: 4rem;

				&-img {
					width: 4rem;
				}
			}
		}

		//////////////////// APP
		/////////////////////

		.app {
			margin: 0;
			gap: 0;
			grid-template-rows: auto auto 1fr;

			////////////////// APP INPUT

			&__search {
				margin-top: 6.4rem;
				height: fit-content;
				&-underline {
					right: 3.6rem;
					width: calc(100% - 9.4rem);
				}
			}

			//////////////////////////// SECTION TRENDING
			/// //////////////////////////////////
			.trending {
				margin-top: 3.4rem;
				&__card {
					cursor: grab;
					&:hover,
					&:focus {
						@include card-play-btn-hover;
						.card__shadow {
							background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100%) 140%), rgba(0, 0, 0, 50%);
							opacity: 1;
						}
					}
				}
				&__card:focus {
					outline: none;
				}
				&__card:last-child {
					margin-right: 3.6rem;
				}
			}
			//////////////////////////// SECTION RECOMMENDED
			/// //////////////////////////////////

			.recommended,
			.movies,
			.tv-series {
				margin-top: 4rem;
				gap: 3.2rem;
				&__box {
					gap: 3.2rem 4rem;
				}
			}

			.search {
				gap: 3.2rem;
				margin-top: 3.4rem;
				&__box {
					gap: 3.2rem 4rem;
				}
			}
		}
	}
}
