@use './colors' as *;
@use './mixins/text' as *;
@use './mixins/_section.scss' as *;

@media (min-width: 90em) {
	.main {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 3.6rem;

		/////////////////////////NAV
		/// ////////////////////////////
		/// //////////////////////

		.nav {
			flex-direction: column;
			justify-content: space-between;
			margin: 3.2rem 0 0 3.2rem;
			height: calc(100vh - 6.4rem);
			max-height: 96rem;
			width: 9.6rem;
			padding: 3.4rem 2.4rem;
			&__logo {
				&-box {
					margin-bottom: 7.5rem;
				}
			}
			&__list {
				flex-direction: column;
				gap: 4rem;
				margin-bottom: auto;

				&-item:hover {
					.nav__list-item-icon {
						filter: invert(66%) sepia(59%) saturate(7204%) hue-rotate(331deg) brightness(95%) contrast(109%);
					}
				}
			}
			&__avatar {
				height: 4rem;

				&-img {
					width: 4rem;
				}
			}
		}

		//////////////////// APP
		/////////////////////

		.app {
			margin: 0;
			gap: 0;
			grid-template-rows: auto auto 1fr;

			////////////////// APP INPUT

			&__search {
				margin-top: 6.4rem;
				height: fit-content;
				&-underline {
					right: 3.6rem;
					width: calc(100% - 9.4rem);
				}
			}

			//////////////////////////// SECTION TRENDING
			/// //////////////////////////////////
			.trending {
				margin-top: 3.4rem;
				&__card {
					cursor: grab;

					&:hover,
					&:focus {
						.card__container-btn {
							opacity: 1;
							cursor: pointer;
						}
						.card__btn-text {
							cursor: pointer;
						}
						.card__shadow {
							background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100%) 140%), rgba(0, 0, 0, 50%);
							opacity: 1;
							z-index: -1;
						}
					}
				}
				& .card__container-btn {
					transition: background 0.3s;
				}
				& .card__container-btn:hover {
					background: rgba(255, 255, 255, 0.4);
				}
				&__card:focus {
					outline: none;
				}
				&__card:last-child {
					margin-right: 3.6rem;
				}
			}
			//////////////////////////// SEARCH SECTION
			/// //////////////////////////////////

			.search {
				gap: 3.2rem;
				margin-top: 3.4rem;
				&__box {
					gap: 3.2rem 4rem;
				}
			}
		}
	}
}
