@use './colors' as *;

@media (min-width: 90em) {
	main {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 3.2rem;
		padding: 3.2rem 3.2rem 0;
	}

	.nav {
		flex-direction: column;
		justify-content: space-between;
		margin: 0;
		height: calc(100vh - 6.4rem);
		width: 9.6rem;
		padding: 3.4rem 2.4rem;
		border-radius: 1rem;
		&__logo {
			&-box {
				margin-bottom: 7.5rem;
			}
		}
		&__list {
			flex-direction: column;
			gap: 4rem;
			margin-bottom: auto;
		}
		&__avatar {
			height: 4rem;

			&-img {
				width: 4rem;
			}
		}
	}
}
