@use './colors' as *;
@use './mixins/text' as *;

@media (min-width: 90em) {
	.main {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 3.6rem;

		/////////////////////////NAV
		/// ////////////////////////////
		/// //////////////////////

		.nav {
			flex-direction: column;
			justify-content: space-between;
			margin: 3.2rem 0 0 3.2rem;
			height: calc(100vh - 6.4rem);
			width: 9.6rem;
			padding: 3.4rem 2.4rem;
			&__logo {
				&-box {
					margin-bottom: 7.5rem;
				}
			}
			&__list {
				flex-direction: column;
				gap: 4rem;
				margin-bottom: auto;
			}
			&__avatar {
				height: 4rem;

				&-img {
					width: 4rem;
				}
			}
		}

		//////////////////// APP
		/////////////////////

		.app {
			margin: 0;
			gap: 0;
			grid-template-rows: auto auto 1fr;

			////////////////// APP INPUT

			&__search {
				gap: 2.4rem;
				margin-top: 6.4rem;
				height: fit-content;
			}

			//////////////////////////// SECTION TRENDING
			/// //////////////////////////////////
			.trending {
				margin-top: 3.4rem;
				// &__box::-webkit-scrollbar {
				// 	background-color: #fff;
				// 	color: black;
				// 	display: block;
				// }
				// &__box::-webkit-scrollbar-thumb {
				// 	background-color: darkgrey;
				// 	outline: 1px solid slategrey;
				// 	width: 10px;
				// }
				// &__card {
				// 	cursor: grab;
				// }
				&__card:last-child {
					margin-right: 3.6rem;
				}
			}
		}
	}
}
