@use './colors' as *;
@use './mixins/text' as *;

@media (min-width: 48em) {
	.main {
		////////////////////////NAV
		/// ///////////////////////////////
		/// ////////////////////////
		.nav {
			margin: 2.3rem auto 3.3rem;
			height: 7.2rem;
			width: calc(100vw - 5rem);
			padding: 2.4rem;
			border-radius: 1rem;
			&__logo {
				&-box {
					width: 3.2rem;
					height: 2.56rem;
				}
			}
			&__list {
				display: flex;
				gap: 3.2rem;
				list-style: none;
				&-item {
					height: 2rem;
					&-icon {
						width: 2rem;
					}
				}
			}
			&__avatar {
				height: 3.2rem;
				&-img {
					width: 3.2rem;
				}
			}
		}
		//////////////////// APP
		/////////////////////

		.app {
			margin: 0;
			gap: 3.3rem;

			////////////////// APP INPUT

			&__search {
				display: flex;
				gap: 2.4rem;
				&-img {
					width: 3.2rem;
				}
				&-input {
					width: 32.1rem;
				}
				&-input::placeholder {
					position: absolute;
					top: 0;
					left: 0;
					@include heading-m;
				}
			}
		}
		//////////////////////////// SECTION TRENDING
		/// //////////////////////////////////
		.trending {
			gap: 2.5rem;
			.heading-secondary {
				@include heading-l;
			}
			&__box {
				gap: 4rem;
			}
			&__card {
				min-width: 47rem;
				height: 23rem;
				&-bookmark {
					top: 1.6rem;
					right: 2.4rem;
				}
				&-box {
					gap: 0.3rem;
					height: 10rem;
					padding-left: 2.4rem;
				}
				&-tags {
					@include body-m;
				}
				&-title {
					@include heading-s;
				}
			}
		}

		//////////////////////////// SECTION RECOMMENDED
		/// //////////////////////////////////

		.recommended {
			margin-top: 0.6rem;
			&__box {
				gap: 2.4rem 2.9rem;
			}
			&__card {
				width: 22rem;
				&-img{
					height: auto;
				}
				&-tags {
					margin: 0.8rem 0 0.5rem 0;
					gap: 0.8rem;
					font-size: 1.3rem;
					&-dot {
						width: 0.3rem;
						height: 0.3rem;
					}
					&-category {
						&-icon {
							margin-right: 0.6rem;
							width: 1.2rem;
						}
					}
				}
				&-title {
					@include heading-xs;
				}
				&-bookmark {
					top: 1.6rem;
					right: 1.6rem;
				}
			}
		}
	}
}
