@use './colors' as *;
@use './UI/layout' as *;
@use './mixins/_text.scss' as *;
@use './card' as *;
@use './mixins/_section.scss' as *;
@use './UI/spinner' as *;
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
	COLORS

	Primary: #e67e22

	Tints:
	#fdf2e9;
	#fae5d3;
	Shades:
	#cf711f;
	Accents: 
	Greys: 
	#555
	#333
*/

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: 'Outfit', sans-serif;
	font-size: 1.6rem;
	color: $white;
	background-color: $dark-blue;
}
.main {
	/////////////////////NAV
	/// /////////////////////////
	/// /////////////////////////

	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 5.6rem;
		padding: 1.6rem;
		background-color: $semi-medium-blue;
		&__logo {
			&-box {
				width: 2.5rem;
				height: 2rem;
			}
			&-item {
				display: block;
				height: 100%;
				width: 100%;
			}
			&-img {
				height: 100%;
				width: 100%;
			}
		}
		&__list {
			display: flex;
			gap: 2.4rem;
			list-style: none;
			&-item {
				height: 1.6rem;
				&-icon {
					width: 1.6rem;
				}
			}
			&-item.active {
				.nav__list-item-icon {
					filter: brightness(0) invert(1);
				}
			}
		}
		&__avatar {
			height: 2.4rem;
			&-img {
				width: 2.4rem;
			}
		}
	}

	////////////////////app
	/// ///////////////////////////////////
	.app {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2.4rem;
		margin-top: 2.4rem;
		overflow: hidden;

		////////////////// APP SEARCH
		///
		&__search {
			position: relative;
			display: flex;
			gap: 1.6rem;
			&-img {
				align-self: center;
				width: 2.4rem;
			}
			&-input {
				font-family: 'Outfit', sans-serif;
				flex: 1;
				@include heading-m;
				background: transparent;
				border: none;
				color: $white;
				caret-color: $red;
			}
			&-input::placeholder {
				font-size: 1.6rem;
				color: $white;
				opacity: 49.79%;
			}
			&-input:focus {
				outline: none;
			}
			&-input:focus ~ .app__search-underline {
				opacity: 1;
			}
			&-underline {
				opacity: 0;
				position: absolute;
				right: 0;
				bottom: -1.4rem;
				border-bottom: 1px solid $greyish-blue;
				width: calc(100% - 5.6rem);
				transition: opacity 0.3s;
			}
		}

		&__sections-box {
			overflow: hidden;
		}

		//////////////////////////// SECTION TRENDING
		/// //////////////////////////////////
		.trending {
			display: flex;
			flex-direction: column;
			gap: 1.6rem;

			&__box {
				display: flex;
				gap: 1.6rem;
				overflow: auto;
				scroll-snap-type: x mandatory;
				-ms-overflow-style: none;
				scrollbar-width: none;
			}
			&__box::-webkit-scrollbar {
				display: none;
			}
			&__card {
				position: relative;
				min-width: 24rem;
				height: 14rem;
				border-radius: 0.8rem;
				overflow: hidden;
				&-img {
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: -1;
				}

				&-box {
					position: absolute;
					bottom: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 0.4rem;
					width: 100%;
					height: 7rem;
					padding-left: 1.6rem;
				}
				&-dot {
					margin: 0 0.8rem;
					width: 0.3rem;
					height: 0.3rem;
					border-radius: 50%;
					background-color: rgba($color: $white, $alpha: 0.5);
				}
				&-tags {
					display: flex;
					align-items: center;
					font-size: 1.2rem;
					font-weight: 300;
					opacity: 75%;
				}
				&-title {
					@include body-m;
				}
				&-category {
					display: flex;
					align-items: center;
					gap: 0.6rem;
					&-icon {
						width: 1.2rem;
						height: 1.2rem;
						object-fit: cover;
					}
				}
			}
			&__card:last-child {
				margin-right: 1.6rem;
			}
		}

		//////////////////////////// SEARCH SECTION
		/// //////////////////////////////////

		.search {
			display: none;
			flex-direction: column;
			gap: 2.4rem;
			&__box {
				display: flex;
				gap: 1.6rem 1.5rem;
				flex-wrap: wrap;
			}
		}
	}
}
