@use './colors' as *;
@use './UI/layout' as *;
@use './mixins/_text.scss' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
	01 TYPOGRAPHY SYSTEM

	SPACING SYSTEM(px)
	2 / 4/ 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

	FONT SIZE SYSTEM (px)
	10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

	FONT weigths:
	Default: 400
	Medium: 500
	Semi-bold: 600
	Bold: 700

	Line heights
	Default: 1
	1.05
	1.6

	02 COLORS

	Primary: #e67e22

	Tints:
	#fdf2e9;
	#fae5d3;
	Shades:
	#cf711f;
	Accents: 
	Greys: 
	#555
	#333
*/

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: 'Outfit', sans-serif;
	font-size: 1.6rem;
	color: $white;
	background-color: $dark-blue;
}
.main {
	/////////////////////NAV
	/// /////////////////////////
	/// /////////////////////////

	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 5.6rem;
		padding: 1.6rem;
		background-color: $semi-medium-blue;
		&__logo {
			&-box {
				width: 2.5rem;
				height: 2rem;
			}
			&-item {
				display: block;
				height: 100%;
				width: 100%;
			}
			&-img {
				height: 100%;
				width: 100%;
			}
		}
		&__list {
			display: flex;
			gap: 2.4rem;
			list-style: none;
			&-item {
				height: 1.6rem;
				&-icon {
					width: 1.6rem;
				}
			}
			&-item.active {
				.nav__list-item-icon {
					filter: brightness(0) invert(1);
				}
			}
		}
		&__avatar {
			height: 2.4rem;
			&-img {
				width: 2.4rem;
			}
		}
	}

	////////////////////app
	/// ///////////////////////////////////
	.app {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2.4rem;
		margin-top: 2.4rem;

		////////////////// APP INPUT
		///
		&__search {
			display: flex;
			gap: 1.6rem;
			&-img {
				width: 2.4rem;
			}
			&-input {
				width: 21.4rem;
				background: transparent;
				border: none;
				opacity: 49.79%;
			}
			&-input::placeholder {
				font-size: 1.6rem;
				font-family: 'Outfit', sans-serif;
				font-weight: 300;
				color: $white;
			}
		}
	}

	//////////////////////////// SECTION TRENDING
	/// //////////////////////////////////
	.trending {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		overflow: hidden;

		&__box {
			display: flex;
			gap: 1.6rem;
			overflow: auto;
			scroll-snap-type: x mandatory;
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
		&__box::-webkit-scrollbar {
			display: none;
		}
		&__card {
			position: relative;
			min-width: 24rem;
			height: 14rem;
			border-radius: 0.8rem;
			overflow: hidden;
			&-container-btn {
				opacity: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 0.9rem 2.4rem 0.9rem 0.9rem;
				background: rgba(255, 255, 255, 0.25);
				border-radius: 2.85rem;
				transition: opacity 0.3s;
			}
			&-btn {
				display: flex;
				align-items: center;
				gap: 1.9rem;
				color: $white;
				background: none;
				border: none;
				cursor: grab;
				&-text {
					@include heading-xs;
					z-index: 1;
				}
				&-icon {
					width: 3rem;
				}
			}

			&-shadow {
				position: absolute;
				height: 100%;
				width: 100%;
				background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
				z-index: -1;
				transition: background 0.3s;
			}
			&-img {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: -1;
			}
			&-bookmark {
				position: absolute;
				top: 0.8rem;
				right: 0.8rem;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 3.2rem;
				height: 3.2rem;
				background-color: rgba(16, 20, 30, 0.5);
				border-radius: 50%;
				&-icon {
					width: 1.167rem;
					height: 1.4rem;
				}
			}
			&-box {
				position: absolute;
				bottom: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 0.4rem;
				width: 100%;
				height: 7rem;
				padding-left: 1.6rem;
			}
			&-dot {
				margin: 0 0.8rem;
				width: 0.3rem;
				height: 0.3rem;
				border-radius: 50%;
				background-color: rgba($color: $white, $alpha: 0.5);
			}
			&-tags {
				display: flex;
				align-items: center;
				font-size: 1.2rem;
				font-weight: 300;
				opacity: 75%;
			}
			&-title {
				@include body-m;
			}
			&-category {
				display: flex;
				align-items: center;
				gap: 0.6rem;
				&-icon {
					width: 1.2rem;
					height: 1.2rem;
					object-fit: cover;
				}
			}
		}
		&__card:last-child {
			margin-right: 1.6rem;
		}
	}

	//////////////////////////// SECTION RECOMMENDED
	/// //////////////////////////////////

	.recommended {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		&__box {
			display: flex;
			flex-wrap: wrap;
			gap: 1.5rem;
		}
		&__card {
			position: relative;
			width: 16.4rem;
			&-img {
				width: 100%;
				border-radius: 0.8rem;
			}
			&-tags {
				margin: 0.4rem 0;
				display: flex;
				align-items: center;
				gap: 0.6rem;
				font-size: 1.1rem;
				opacity: 75%;
				font-weight: 300;
				&-dot {
					width: 0.2rem;
					height: 0.2rem;
					border-radius: 50%;
					background-color: rgba($color: $white, $alpha: 0.5);
				}
				&-category {
					display: flex;
					align-items: center;
					&-icon {
						margin-right: 0.4rem;
						width: 1rem;
					}
				}
			}
			&-title {
				font-size: 1.4rem;
				font-weight: 500;
			}
			&-bookmark {
				position: absolute;
				top: 0.8rem;
				right: 0.8rem;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 3.2rem;
				height: 3.2rem;
				background-color: rgba(16, 20, 30, 0.5);
				border-radius: 50%;
				&-icon {
					width: 1.167rem;
					height: 1.4rem;
				}
			}
		}
	}
}
