@use '../colors' as *;
@use './text' as *;

@mixin card-play-btn {
	.card {
		&-container-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 0.9rem 2.4rem 0.9rem 0.9rem;
			background: rgba(255, 255, 255, 0.25);
			border-radius: 2.85rem;
			opacity: 0;
			z-index: 2;
			transition: opacity 0.3s;
		}
		&-btn {
			display: flex;
			align-items: center;
			gap: 1.9rem;
			color: $white;
			background: none;
			border: none;
			&-text {
				cursor: default;
				@include heading-xs;
				z-index: 1;
			}
			&-icon {
				width: 3rem;
			}
		}
	}
}

@mixin card-play-btn-hover {
	.card {
		&-container-btn {
			opacity: 1;
		}
		&-btn-text {
			cursor: grab;
		}
	}
}
