@mixin section {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

@mixin section__cards-box {
	display: flex;
	flex-wrap: wrap;
	gap: 1.6rem 1.5rem;
}

@media (min-width: 48em) {
	@mixin section {
		margin-top: 0.6rem;
	}
	@mixin section__cards-box {
		gap: 2.4rem 2.9rem;
	}
}

@media (min-width: 90em) {
	@mixin section {
		margin-top: 4rem;
		gap: 3.2rem;
	}
	@mixin section__cards-box {
		gap: 3.2rem 4rem;
	}
}
