@use '../colors' as *;
@use '../mixins/text' as *;

.section-padding {
	padding: 0 1.6rem;
}

.section-padding--left {
	padding-left: 1.6rem;
}

/////// styles on

@media (min-width: 48em) {
	.section-padding {
		padding: 0 2.5rem;
	}

	.section-padding--left {
		padding-left: 0 2.5rem;
	}
}

@media (min-width: 90em) {
	.section-padding {
		padding: 0;
	}

	.section-padding--left {
		padding-left: 0;
	}
}
